body{
    background: url(img/kxcv.jpg);

    
}
h1{
    text-align: center;
    color: darkgreen;
    
}
p{
    color: darkorchid;
}
.img1{
    text-align: center;
    
}
.img2{
    text-align: center;
}